html {
  font-size: 18px;
  font-family: "PT Sans", verdana, sans-serif;
}

body {
  margin: 0px;
}

header {
  background-color: white;
}

h1 {
  font-family: "Russo One", verdana, sans-serif;
}

h2 {
  color: black;
  font-family: "Russo One", verdana, sans-serif;
  text-align: left;
  font-size: 30px;
  line-height: 20px;
}

#logo {
  width: 161px;
  height: 101px;
  margin-left: 29px;
  margin-top: 28px;
  margin-bottom: 7px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.horizontal-menu {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 55px;
  margin-left: 48%;
  width: 50%;
}

.horizontal {
  text-decoration: none;
}

.horizontal-text {
  color: black;
}

.horizontal:hover {
  color: #bac5cf;
}

#cart {
  width: 35px;
}

#mag-glass,
#person {
  width: 30px;
}

.used-games {
  display: inline;
  border: 1px solid black;
  padding: 5px 20px;
}

#cart,
#mag-glass,
#person {
  vertical-align: middle;
  margin-right: 5px;
}

.horizontal-text {
  display: inline;
}

#menuline {
  border: 2px solid #1b203d;
  margin: 0;
}

header,
nav {
  top: 0;
  position: fixed;
  width: 100%;
}

main {
  margin-top: 147px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  text-align: center;
  margin-left: 184px;
  background-color: black;
  color: white;
  margin-top: 20px;
}

/* desktop styles */

@media only screen and (min-width: 550px) and (max-width: 999px) {
  .horizontal-text {
    display: none;
  }

  footer {
    flex-direction: column;
    margin-left: 111px;
  }
}
/* Smart phone styles */

@media only screen and (max-width: 549px) {
  .horizontal-text,
  .hor1 {
    display: none;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  .horizontal-menu {
    justify-content: end;
    top: 38px;
    width: 20%;
  }

  footer {
    flex-direction: column;
    margin-left: 0;
  }
}
