html {
  font-size: 20px;
  font-family: "PT Sans", verdana, sans-serif;
}

body {
  margin: 0px;
}

header {
  position: relative;
  background-color: white;
}

#cart-box {
  position: absolute;
  width: 420px;
  background-color: white;
  border: 1px solid black;
  right: 0;
  top: 110px;
  display: none;
}

.flexing {
  display: flex;
  justify-content: space-evenly;
}

.button {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.product-line {
  display: flex;
  justify-content: space-evenly;
}

.gamepicture-cart {
  height: 50px;
  margin: 0 10px 0 10px;
}

h1 {
  font-family: "Russo One", verdana, sans-serif;
}

h2 {
  color: black;
  font-family: "Russo One", verdana, sans-serif;
  text-align: left;
  font-size: 30px;
  line-height: 20px;
}

h4 {
  margin: 5px 35px;
}

#logo {
  width: 161px;
  height: 101px;
  margin-left: 29px;
  margin-top: 28px;
  margin-bottom: 7px;
}

.horizontal-text:hover {
  color: grey;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.horizontal-menu {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 55px;
  margin-left: 48%;
  width: 50%;
}

.horizontal {
  text-decoration: none;
}

.hor1 {
  position: relative;
}

.quantity {
  position: absolute;
  top: -20px;
  right: 70px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ee1925;
  color: white;
  text-align: center;
  font-size: 0.8rem;
  display: none;
}

.horizontal-text {
  color: black;
}

#cart {
  width: 55px;
  position: relative;
}

#mag-glass {
  width: 50px;
}

.used-games {
  display: inline;
  border: 1px solid black;
  padding: 5px 20px;
}

#person {
  width: 45px;
}

#cart,
#mag-glass,
#person {
  vertical-align: middle;
  margin-right: 5px;
}

.horizontal-text {
  display: inline;
}

#menuline {
  border: 2px solid #1b203d;
  margin: 0;
}

header,
nav {
  position: fixed;
  width: 100%;
}

header {
  z-index: 200;
}

main,
footer {
  margin-left: 184px;
}

nav,
main,
.sidebar {
  margin-top: 147px;
}

.outer-wrapper {
  display: block;
}

.vertical {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  width: 182px;
  height: 134px;
  border: 1px solid grey;
  background-color: black;
}

.drop-button {
  width: 184px;
}

.active {
  background-color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1b203d;
  left: 0px;
  top: 124px;
  text-align: center;
  width: 182px;
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border: 1px solid white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
  color: red;
}

#adventure:hover {
  color: #a6c906;
}

#sports:hover {
  color: #9859d0;
}

.drop-icon {
  width: 15px;
  padding-right: 5px;
}

#icon1 {
  width: 65px;
}

#icon2 {
  width: 110px;
}

#icon3 {
  width: 85px;
}

#icon4 {
  width: 71px;
}

#icon5 {
  width: 52px;
}

.vertical:hover {
  background-color: red;
}

.blank {
  height: 300px;
}

/* desktop styles */

@media only screen and (min-width: 550px) and (max-width: 999px) {
  .horizontal-text {
    display: none;
  }

  .dropdown-content {
    left: 0px;
    width: 112px;
  }

  .quantity {
    right: 8px;
  }
}

/* Smart phone styles */

@media only screen and (max-width: 549px) {
  /*.horizontal-text,
  .hor1 {
    display: none;
  }*/

  header {
    font-size: 0.7rem;
  }

  .horizontal-text {
    display: none;
  }

  #mag-glass,
  #person,
  #cart {
    width: 30px;
  }

  .horizontal-menu {
    justify-content: space-between;
    top: 38px;
    width: 30%;
    margin-left: 38%;
  }

  .quantity {
    right: 7px;
    top: -12px;
    width: 20px;
    height: 20px;
  }

  .dropdown-content {
    left: 100px;
  }

  #cart-box {
    top: 90px;
    width: 100%;
  }
}
