.sidebar {
  width: 400px;
  margin-left: 20px;
}

.mainheader {
  margin-bottom: 30px;
}

.subheader {
  margin: 0;
  color: grey;
}

.gamepicture {
  float: left;
  width: 25%;
  margin-bottom: 20px;
  margin-right: 10px;
}

.gameinfo {
  font-size: 16px;
  color: grey;
  margin-bottom: 30px;
}

.info {
  line-height: 11px;
  margin-left: 20px;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.clearfix {
  margin-top: 60px;
}

.cart {
  margin: 20px;
  color: white;
  background-color: #ee1925;
  border: 1px solid black;
  text-decoration: none;
  padding: 7px 25px;
  border-radius: 15px;
  cursor: grabbing;
  position: relative;
}

.cart:hover {
  background-color: #b10c26;
}
