@import "imports/header-nav.css";

@import "imports/games.css";

#menuline {
  border: 2px solid #a6c906;
}

.sidebar {
  width: 400px;
  margin-left: 0px;
  background-image: url("../images/adventure-link.jpg");
  background-size: cover;
}

#leaf {
  width: 40px;
  margin-right: 10px;
}

.cart {
  background-color: #a6c906;
}

.cart:hover {
  background-color: #5fa014;
}

.filter {
  border-top: 1px solid #a6c906;
  border-right: 1px solid #a6c906;
}

.buy,
.games {
  border-top: 1px solid #a6c906;
}

.loader {
  border: 16px solid #a6c906;
  border-top: 16px solid black;
}

/* media queries

 /* desktop styles */

@media only screen and (min-width: 550px) and (max-width: 999px) {
  #leaf {
    width: 30px;
  }
}

/* Smart phone styles */

@media only screen and (max-width: 549px) {
  #leaf {
    width: 20px;
  }
}
