@import "imports/header-nav.css";

/* main info */

main {
  background-color: grey;
}

.sheet {
  background: white;
  margin-right: 100px;
  margin-right: 10%;
}

.text {
  margin: 20px auto;
  text-align: left;
  width: 70%;
}

#search {
  margin-right: 20px;
  width: 60px;
  vertical-align: middle;
}

.question {
  color: grey;
  border: 1px solid black;
  display: inline-block;
  padding: 10px 200px 10px 0;
}

.searchbox {
  margin-bottom: 30px;
}

.help-icons {
  width: 50px;
  margin-right: 20px;
  padding: 5px;
  border-right: 1px solid black;
  vertical-align: middle;
}

.categorytext {
  display: inline-block;
}

.category1,
.category2,
.category3,
.category4 {
  border: 1px solid black;
}

.section2 {
  margin-bottom: 100px;
}

.hr-line {
  margin-bottom: 0;
}

.picture {
  width: 50%;
  height: 300px;
  background-image: url("../images/playing-soccergame.jpg");
  background-size: cover;
  border: 3px solid grey;
  float: left;
  margin-right: 20px;
}

.cart {
  color: white;
  background-color: #9859d0;
  border: 1px solid black;
  text-decoration: none;
  padding: 7px 25px;
  border-radius: 15px;
  cursor: grabbing;
}

.chat::after {
  clear: both;
  content: "";
  display: table;
}

.chat-text {
  margin-top: 60px;
}

/* Grid info, main */

.category1 {
  grid-area: cat1;
}

.category2 {
  grid-area: cat2;
}

.category3 {
  grid-area: cat3;
}

.category4 {
  grid-area: cat4;
}

.categories {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "cat1 cat2"
    "cat3 cat4";
}

/* Grid info, body */

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-gap: 0;
  grid-auto-columns: auto 1fr;
  grid-template-areas:
    "header header header"
    "nav main main"
    "footer footer footer";
}

/* footer info */

footer {
  display: flex;
  justify-content: space-between;
}

/* media queries */

/* Smaller desktop styles */

@media only screen and (min-width: 550px) and (max-width: 999px) {
  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* Tablet styles */

@media only screen and (min-width: 550px) and (max-width: 999px) {
  .categories {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "cat1"
      "cat2"
      "cat3"
      "cat4";
  }

  .sheet {
    width: 100%;
  }

  .category1,
  .category2,
  .category3,
  .category4 {
    width: 95%;
  }

  main {
    font-size: 0.8em;
    margin-left: 111px;
  }

  .vertical {
    width: 110px;
  }

  footer {
    font-size: 0.6em;
    margin-left: 111px;
  }

  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* Smart phone styles */

@media only screen and (max-width: 549px) {
  .categories {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "cat1"
      "cat2"
      "cat3"
      "cat4";
  }

  .sidebar,
  .horizontal2 {
    display: none;
  }

  .sheet {
    width: 100%;
  }

  #logo {
    width: 80px;
    height: 50px;
  }

  main,
  nav {
    font-size: 0.8em;
    margin-top: 96px;
    margin-left: 0;
  }

  .vertical {
    width: 100px;
    height: 100px;
  }

  #icon1,
  #icon4,
  #icon5 {
    width: 45%;
  }

  #icon2 {
    width: 70%;
  }

  #icon3 {
    width: 50%;
  }

  footer {
    font-size: 0.6em;
    margin-left: 0;
  }

  nav {
    display: none;
    position: fixed;
  }

  #hamburger-menu {
    display: none;
  }

  .fas {
    position: fixed;
    z-index: 300;
    top: 40px;
    right: 40px;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }
}
