@import "imports/header-nav.css";

/* main info */

main {
  border-right: 1px solid grey;
  text-align: center;
}

/* sidebar info */

.sidebar {
  width: 400px;
  margin-left: 30px;
}

.mainheader {
  margin-bottom: 30px;
}

.subheader {
  margin: 0;
  color: grey;
}

.gamepicture {
  float: left;
  width: 25%;
  margin-bottom: 20px;
  margin-right: 20px;
}

.gameinfo {
  font-size: 16px;
  color: grey;
  margin-bottom: 30px;
}

.info {
  line-height: 2px;
  margin-left: 20px;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.clearfix {
  margin-top: 60px;
}

.cart {
  margin: 20px;
  color: white;
  background-color: #ee1925;
  border: 1px solid black;
  text-decoration: none;
  padding: 7px 25px;
  border-radius: 15px;
  cursor: grabbing;
}

/* Grid info, body */
  
header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-gap: 0;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "nav main sidebar"
    "footer footer footer";
}

/* footer info */

footer {
  display: flex;
  justify-content: space-between;
}

/* Media queries */

/* Desktop styles */

@media only screen and (min-width: 1280px) {
  #hamburger-menu, .fas {
    display: none;
  }
}

/* Small desktop styles */

@media only screen and (min-width: 1000px) and (max-width: 1279px) {
#hamburger-menu, .fas {
  display: none;
}
}

 /* Tablet styles */

 @media only screen and (min-width: 550px) and (max-width: 999px) {
  body {
      display: grid;
      grid-gap: 0;
      grid-template-areas:
      "header header"
      "nav main"
      "nav sidebar"
      "footer footer"
      }

      .vertical {
          width: 110px;
      }

      main {
        font-size: 0.8em;
        margin-left: 111px;
      }

      .sidebar {
        margin-top: 0;
        margin-left: 114px;
      }

      footer {
          font-size: 0.6em;
          margin-left: 111px;
      }

      #hamburger-menu, .fas {
        display: none;
      }
}

/* Smart phone styles */


@media only screen and (max-width: 549px) {

  .sidebar, .horizontal2 {
      display: none;
  }

  #logo {
      width: 80px;
      height: 50px;
  }

  .pics3 {
      display: flex;
      flex-direction: column;
  }

  main, nav {
    font-size: 0.8em;
    margin-top: 96px;
    margin-left: 0;
  }

  .vertical {
    width: 100px;
    height: 100px;
  }
  
    #icon1, #icon4, #icon5 {
      width: 45%;
    }
    
    #icon2 {
      width: 70%;
    }
    
    #icon3 {
      width: 50%;
    }

  footer {
      font-size: 0.6em;
      margin-left: 0;
  }

  nav {
    display: none;
    position: fixed;
  }

  #hamburger-menu {
    display: none;
  }

  .fas{
    position: fixed;
    z-index: 1;
    top: 40px;
    right: 40px;
  }

  #hamburger-menu:checked ~ nav {
    display:block;
  }


}