@import "imports/header-nav.css";

@import "imports/sidebar.css";

.sheet {
  height: 72vh;
}

/* main info */

main {
  text-align: center;
}

/* Grid info, body */

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-gap: 0;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "nav main sidebar"
    "footer footer footer";
}

/* Media queries */

/* Desktop styles */

@media only screen and (min-width: 1280px) {
  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* Small desktop styles */

@media only screen and (min-width: 1000px) and (max-width: 1279px) {
  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* Tablet styles */

@media only screen and (min-width: 550px) and (max-width: 999px) {
  body {
    display: grid;
    grid-gap: 0;
    grid-template-areas:
      "header header"
      "nav main"
      "nav sidebar"
      "footer footer";
  }

  .vertical {
    width: 110px;
  }

  main {
    margin-left: 111px;
  }

  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* Smart phone styles */

@media only screen and (max-width: 549px) {
  .sidebar,
  .horizontal2 {
    display: none;
  }

  #logo {
    width: 80px;
    height: 50px;
  }

  .pics3 {
    display: flex;
    flex-direction: column;
  }

  main,
  nav {
    margin-top: 96px;
    margin-left: 0;
  }

  .vertical {
    width: 100px;
    height: 100px;
  }

  #icon1,
  #icon4,
  #icon5 {
    width: 45%;
  }

  #icon2 {
    width: 70%;
  }

  #icon3 {
    width: 50%;
  }

  nav {
    display: none;
    position: fixed;
  }

  #hamburger-menu {
    display: none;
  }

  .fas {
    position: fixed;
    z-index: 300;
    top: 40px;
    right: 40px;
    cursor: pointer;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }
}
