@import "imports/header-nav.css";

@import "imports/sidebar.css";

/* main info */

.link-image {
  position: relative;
}

.link-text {
  position: absolute;
  right: 2%;
  top: 25px;
  width: 30%;
}

.text1,
.text2 {
  font-size: 3vw;
}

.text {
  color: black;
}

.text1,
.text2 {
  color: white;
}

.text2 {
  text-align: center;
}

#green {
  color: #a6c906;
}

.flex-images {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
}

.sell-games-image,
.bowser-image {
  width: 40%;
  border: 1px solid black;
}

.sell-games-image {
  position: relative;
}

.sell-games-text {
  position: absolute;
  width: 90%;
  top: 5px;
  left: 5%;
}

.text3 {
  width: 40%;
  font-size: 2vw;
}

.text4 {
  text-align: right;
  font-size: 2vw;
}

.purple {
  color: #4e0291;
}

.bowser-image {
  position: relative;
}

.bowser-text {
  position: absolute;
  top: 6px;
  left: 5%;
}

.text5,
.text6 {
  font-size: 2vw;
}

.text6 {
  width: 60%;
}

.pikachu-image {
  position: relative;
}

.pikachu-text {
  position: absolute;
  top: 20px;
  right: 5%;
  width: 30%;
}

.text7,
.text8 {
  text-align: right;
  font-size: 3vw;
}

.picture {
  width: 100%;
}

a {
  text-decoration: none;
}

/* Grid info, body */

main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "main sidebar"
    "footer footer";
}

/* footer info */

footer {
  display: flex;
  justify-content: space-between;
}

/* media queries */

/* Desktop styles */

@media only screen and (min-width: 1280px) {
  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* Small desktop styles */

@media only screen and (min-width: 1000px) and (max-width: 1279px) {
  body {
    display: grid;
    grid-gap: 0;
    grid-template-areas:
      "main"
      "sidebar"
      "footer";
  }

  .flex-sidebar {
    display: flex;
    flex-wrap: wrap;
  }

  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* Tablet styles */

@media only screen and (min-width: 550px) and (max-width: 999px) {
  body {
    display: grid;
    grid-gap: 0;
    grid-template-areas:
      "main"
      "sidebar"
      "footer";
  }

  main {
    margin-left: 111px;
  }

  .sidebar {
    margin-top: 0;
    margin-left: 114px;
  }

  .vertical {
    width: 110px;
  }

  footer {
    font-size: 0.6em;
    margin-left: 111px;
  }

  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* Smart phone styles */

@media only screen and (max-width: 549px) {
  .sidebar,
  .horizontal2 {
    display: none;
  }

  #logo {
    width: 80px;
    height: 50px;
  }

  .pics3 {
    display: flex;
    flex-direction: column;
  }

  .pic2,
  .pic4 {
    margin: 0;
  }

  footer {
    font-size: 0.6em;
    margin-left: 0;
  }

  main,
  nav {
    margin-top: 96px;
    margin-left: 0;
  }

  .vertical {
    width: 100px;
    height: 100px;
  }

  #icon1,
  #icon4,
  #icon5 {
    width: 45%;
  }

  #icon2 {
    width: 70%;
  }

  #icon3 {
    width: 50%;
  }

  nav {
    display: none;
    position: fixed;
    z-index: 2000;
  }

  #hamburger-menu {
    display: none;
  }

  .fas {
    position: fixed;
    z-index: 300;
    top: 40px;
    right: 40px;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }
}
