@import "imports/header-nav.css";

/* main info */

/* Grid info, body */

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "main"
    "footer";
}

/* footer info */

footer {
  display: flex;
  justify-content: space-between;
}

/* media queries */

/* Desktop styles */

@media only screen and (min-width: 1280px) {
  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* Small desktop styles */

@media only screen and (min-width: 1000px) and (max-width: 1279px) {
  body {
    display: grid;
    grid-gap: 0;
    grid-template-areas:
      "main"
      "footer";
  }

  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* Tablet styles */

@media only screen and (min-width: 550px) and (max-width: 999px) {
  body {
    display: grid;
    grid-gap: 0;
    grid-template-areas:
      "main"
      "footer";
  }

  main {
    margin-left: 111px;
  }

  .vertical {
    width: 110px;
  }

  footer {
    font-size: 0.6em;
    margin-left: 111px;
  }

  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* Smart phone styles */

@media only screen and (max-width: 549px) {
  .sidebar,
  .horizontal2 {
    display: none;
  }

  #logo {
    width: 80px;
    height: 50px;
  }

  footer {
    font-size: 0.6em;
    margin-left: 0;
  }

  main,
  nav {
    margin-top: 96px;
    margin-left: 0;
  }

  .vertical {
    width: 100px;
    height: 100px;
  }

  #icon1,
  #icon4,
  #icon5 {
    width: 45%;
  }

  #icon2 {
    width: 70%;
  }

  #icon3 {
    width: 50%;
  }

  nav {
    display: none;
    position: fixed;
    z-index: 2000;
  }

  #hamburger-menu {
    display: none;
  }

  .fas {
    position: fixed;
    z-index: 300;
    top: 40px;
    right: 40px;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }
}
