@import "imports/header-nav.css";

@import "imports/games.css";

#menuline {
  border: 2px solid #f1b000;
}

.sidebar {
  width: 400px;
  margin-left: 0px;
  background-image: url("../images/used-ghost.jpg");
  background-size: cover;
}

#pocal {
  width: 40px;
  margin-right: 10px;
}

.cart {
  background-color: #f1b000;
}

.cart:hover {
  background-color: #ba8801;
}

.filter {
  border-top: 1px solid #f1b000;
  border-right: 1px solid #f1b000;
}

.games,
.buy {
  border-top: 1px solid #f1b000;
}

.loader {
  border: 16px solid #f1b000;
  border-top: 16px solid black;
}
