@import "imports/header-nav.css";

@import "imports/games.css";

#menuline {
  border: 2px solid #9859d0;
}

.sidebar {
  width: 400px;
  margin-left: 0px;
  background-image: url("../images/sports-mariokart.jpg");
  background-size: cover;
}

#pocal {
  width: 40px;
  margin-right: 10px;
}

.cart {
  background-color: #9859d0;
}

.cart:hover {
  background-color: #7a4ea0;
}

.filter {
  border-right: 1px solid #9859d0;
}

.games,
.buy,
.filter {
  border-top: 1px solid #9859d0;
}

.loader {
  border: 16px solid #9859d0;
  border-top: 16px solid black;
}

/* media queries

 /* Smaller desktop styles */

@media only screen and (min-width: 550px) and (max-width: 999px) {
  #pocal {
    width: 30px;
  }
}

/* Smart phone styles */

@media only screen and (max-width: 549px) {
  #pocal {
    width: 20px;
  }
}
