 html {
  font-size: 20px;
  font-family: "PT Sans", verdana, sans-serif;
}


body {
  margin: 0px;
}

header {
  background-color: white;
}

h1 {
  font-family: "Russo One", verdana, sans-serif;
}

h2{
  color: black;
  font-family: "Russo One", verdana, sans-serif;
  text-align: left;
  font-size: 30px;
  line-height: 20px;
}

#logo {
  width: 161px;
  height: 101px;
  margin-left: 29px;
  margin-top: 28px;
  margin-bottom: 7px;
} 

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.horizontal2 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 55px;
  margin-left: 48%;
  width: 50%;
}
/*
.vertical {       Also possible to use this later if I want to adjust vertical icons (margin-top) manually.
  display: flex;
  margin: auto;
}
*/

#menuline {
  border: 2px solid #1B203D;
  margin: 0;
}

.outer-wrapper {
  display: block;
}

 .vertical {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  width: 182px;
  border: 1px solid grey;
  background-color: #1B203D;
}

.icons {
  height: 134px;
}

.blank {
  width: 182px;
  height: 134px;
}

/* main info */

#linkboy {
}

/* sidebar info */

.sidebar {
  width: 400px;
  margin-left: 30px;
}

.mainheader {
  margin-bottom: 30px;
}

.subheader {
  margin: 0;
  color: grey;
}

.gamepicture {
  float: left;
  width: 25%;
  margin-bottom: 20px;
  margin-right: 20px;
}

.gameinfo {
  font-size: 16px;
  color: grey;
  margin-bottom: 30px;
}

.info {
  line-height: 2px;
  margin-left: 20px;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
  }

.clearfix {
  margin-top: 60px;
}

.cart {
  margin: 20px;
  color: white;
  background-color: #EE1925;
  border: 1px solid black;
  text-decoration: none;
  padding: 7px 25px;
  border-radius: 15px;
  cursor: grabbing;
}


.pictures {grid-area: pictures;}
.sidebar {grid-area: sidebar;}
  
main {
  display: grid;
  grid-template-areas:
  'pictures sidebar';
}

#linkboy {
  width: 100vw;
}

#pikachu {
  width: 42vw;
}

#money {
  width: 28vw;
}

#bowser {
  width: 28vw;
}

body {
  position: relative;
}

main {
  position: absolute;
  top: 147px;
  left: 184px;
}

/*#linkboy {
  width: 90vw;
}

#pikachu {
  width: 33vw;
}

#money {
  width: 25vw;
}

#bowser {
  width: 25vw;
}*/

/* footer info */

footer {
  display: flex;
  justify-content: space-between;
}




/*
.icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 50%;
}
*/

/* some properties for later use
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #a6c906;
  text-shadow: 3px 3px 1px black;
}

p {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: darkgreen;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
