@import "imports/header-nav.css";

@import "imports/sidebar.css";

/* main info */

nav {
  border: 1px solid black;
}

.allcontent1::after {
  clear: both;
  content: "";
  display: table;
}

.allcontent1 {
  text-align: left;
  width: 95%;
  margin: 0 auto;
}
.paragraph {
  margin-top: 50px;
  max-width: 750px;
}

#playing {
  border: 3px solid grey;
  float: right;
  width: 230px;
}

#search {
  width: 70%;
  min-width: 200px;
  margin-top: 30px;
}

#popular {
  margin-top: 50px;
  text-align: center;
}

#holding {
  width: 250px;
  height: 250px;
  margin-right: 0px;
}

.alltext {
  display: flex;
  justify-content: space-around;
}

.search-form {
  margin-top: 50px;
  position: relative;
  width: 500px;
}

.search-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

#search-icon {
  width: 30px;
}

input[type="text"] {
  width: 470px;
  padding: 10px;
  font-size: 14px;
}

/* Grid info */

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "nav main sidebar"
    "footer footer footer";
}

/* footer info */

footer {
  display: flex;
  justify-content: space-between;
}

/* media queries

 /* Desktop styles */

@media only screen and (min-width: 1280px) {
  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* Small desktop styles */

@media only screen and (min-width: 1000px) and (max-width: 1279px) {
  #playing,
  #holding {
    display: none;
  }

  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* Tablet styles */

@media only screen and (min-width: 550px) and (max-width: 999px) {
  body {
    display: grid;
    grid-gap: 0;
    grid-template-areas:
      "header header"
      "nav main"
      "nav sidebar"
      "footer footer";
  }

  .sidebar {
    margin-left: 186px;
  }

  #playing {
    width: 150px;
  }

  #holding {
    display: none;
  }

  .vertical {
    width: 110px;
  }

  main {
    font-size: 0.8em;
    margin-left: 111px;
  }

  input[type="text"] {
    width: 350px;
  }

  .search-form {
    width: 380px;
  }

  footer {
    font-size: 0.6em;
    margin-left: 111px;
  }

  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* Smart phone styles */

@media only screen and (max-width: 549px) {
  .sidebar,
  .horizontal2,
  #playing,
  #holding {
    display: none;
  }

  #logo {
    width: 80px;
    height: 50px;
  }

  main,
  nav {
    font-size: 0.8em;
    margin-top: 96px;
    margin-left: 0;
  }

  .vertical {
    width: 100px;
    height: 100px;
  }

  #icon1,
  #icon4,
  #icon5 {
    width: 45%;
  }

  #icon2 {
    width: 70%;
  }

  #icon3 {
    width: 50%;
  }

  footer {
    font-size: 0.6em;
    margin-left: 0;
  }

  input[type="text"] {
    width: 350px;
  }

  .search-form {
    width: 380px;
  }

  nav {
    display: none;
    position: fixed;
  }

  #hamburger-menu {
    display: none;
  }

  .fas {
    position: fixed;
    z-index: 300;
    top: 40px;
    right: 40px;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }
}
