@import "imports/header-nav.css";

@import "imports/sidebar.css";

/* main info */

#bowser {
  border: 3px solid grey;
  float: left;
  height: 230px;
  margin-right: 20px;
}

.paragraph {
  margin-top: 0;
  max-width: 1100px;
}

.yellow {
  max-width: 100%;
  max-height: 350px;
  background-image: url("../images/yellow-block.png");
  background-size: cover;
}

#pikachu {
  margin-top: 2px;
  width: 230px;
  float: right;
}

.section {
  margin-top: 40px;
}

.allcontent1::after {
  clear: both;
  content: "";
  display: table;
}

/* Grid info */

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-gap: 0;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
}

/* media queries

 /* Desktop styles */

@media only screen and (min-width: 1280px) {
  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* small desktop styles */

@media only screen and (min-width: 1000px) and (max-width: 1279px) {
  #mario {
    display: none;
  }
  body {
    display: grid;
    grid-gap: 0;
    grid-template-areas:
      "header header"
      "nav main"
      "nav sidebar"
      "footer footer";
  }

  .sidebar {
    margin-top: 0;
    margin-left: 186px;
  }

  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* Tablet styles */

@media only screen and (min-width: 550px) and (max-width: 999px) {
  body {
    display: grid;
    grid-gap: 0;
    grid-template-areas:
      "header header"
      "nav main"
      "nav sidebar"
      "footer footer";
  }

  #pikachu {
    display: none;
  }

  #bowser {
    float: none;
  }

  main {
    margin-left: 111px;
  }

  .sidebar {
    margin-top: 0;
    margin-left: 114px;
  }

  .vertical {
    width: 110px;
  }

  #hamburger-menu,
  .fas {
    display: none;
  }
}

/* Smart phone styles */

@media only screen and (max-width: 549px) {
  .sidebar,
  .horizontal2 {
    display: none;
  }

  #logo {
    width: 80px;
    height: 50px;
  }

  #bowser {
    float: none;
  }

  #pikachu {
    display: none;
  }

  main,
  nav {
    margin-top: 96px;
    margin-left: 0;
  }

  .vertical {
    width: 100px;
    height: 100px;
  }

  #icon1,
  #icon4,
  #icon5 {
    width: 45%;
  }

  #icon2 {
    width: 70%;
  }

  #icon3 {
    width: 50%;
  }

  nav {
    display: none;
    position: fixed;
  }

  #hamburger-menu {
    display: none;
  }

  .fas {
    position: fixed;
    z-index: 300;
    top: 40px;
    right: 40px;
    cursor: pointer;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }
}
