html {
  font-size: 20px;
  font-family: "PT Sans", verdana, sans-serif;
}

body {
  background-color: white;
  margin: 0px;
}

h1 {
  font-family: "Russo One", verdana, sans-serif;
}

h2 {
  color: black;
  font-family: "Russo One", verdana, sans-serif;
  text-align: left;
  font-size: 30px;
  line-height: 20px;
}

#logo {
  margin-left: 29px;
  margin-top: 28px;
  margin-bottom: 7px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.horizontal2 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 55px;
  margin-left: 48%;
  width: 50%;
}
/*
  .vertical {       Also possible to use this later if I want to adjust vertical icons (margin-top) manually.
    display: flex;
    margin: auto;
  }
  */

#menuline {
  border: 2px solid #1b203d;
  margin: 0;
}

.outer-wrapper {
  display: block;
}

.vertical {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  width: 182px;
  border: 1px solid grey;
  background-color: #1b203d;
}

.icons {
  height: 134px;
}

.blank {
  height: 134px;
}

/* main info */

main {
  border: 1px solid black;
}

nav {
  border: 1px solid black;
}

.allcontent1::after {
  clear: both;
  content: "";
  display: table;
}

.allcontent1 {
  margin-left: 0px;
  border: 1px solid black;
  text-align: left;
}
.paragraph {
  line-height: 10px;
  margin-top: 50px;
}

#playing {
  border: 3px solid grey;
  float: right;
  width: 230px;
}

#search {
  width: 450px;
  margin-top: 30px;
}

#holding {
  width: 250px;
  margin-right: 0px;
}


.channel {
  display: inline;
  padding: 5px;
  margin-left: 50px;
}

.line1 {
  margin-top: 50px;
}

.alltext {
  border: 1px solid black;
  padding-right: 30px;
}

.alltext::after {
  clear: both;
  content: "";
  display: table;
}

/* sidebar info */

.sidebar {
  width: 400px;
  margin-left: 30px;
}

.mainheader {
  margin-bottom: 30px;
}

.subheader {
  margin: 0;
  color: grey;
}

.gamepicture {
  float: left;
  width: 25%;
  margin-bottom: 20px;
  margin-right: 20px;
}

.gameinfo {
  font-size: 16px;
  color: grey;
  margin-bottom: 30px;
}

.info {
  line-height: 2px;
  margin-left: 20px;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.clearfix {
  margin-top: 60px;
}

.cart {
  margin: 20px;
  color: white;
  background-color: #ee1925;
  border: 1px solid black;
  text-decoration: none;
  padding: 7px 25px;
  border-radius: 15px;
  cursor: grabbing;
}

/* Grid info */

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "nav main sidebar"
    "footer footer footer";
}

/*#linkboy {
    width: 90vw;
  }
  
  #pikachu {
    width: 33vw;
  }
  
  #money {
    width: 25vw;
  }
  
  #bowser {
    width: 25vw;
  }*/

/* footer info */

footer {
  display: flex;
  justify-content: space-between;
}



/* media queries

  /* small desktop styles */

  @media only screen and (min-width: 1000px) and (max-width: 1279px) {
    .pics3 {
        display: flex;
        flex-direction: column;
    }
}

 /* desktop styles */

 @media only screen and (min-width: 550px) and (max-width: 999px) {
    body {
        display: grid;
        grid-gap: 0;
        grid-template-areas:
        "header header"
        "nav main"
        "nav sidebar"
        "footer footer"
        }

        .vertical {
            width: 110px;
        }

        footer {
            font-size: 0.6em;
        }
        

}

 /* small desktop styles */


 @media only screen and (max-width: 549px) {

    .sidebar, .vertical, .horizontal2 {
        display: none;
    }

    #logo {
        width: 80px;
        height: 50px;
    }

    .pics3 {
        display: flex;
        flex-direction: column;
    }

    footer {
        font-size: 0.6em;
    }
}